{% extends "layout/bootstrap.html" %}



{% block title %}トップ{% endblock %}


{# 
   {% block header_scripts %}{% endblock %}
#} 


{% block body_class %}home{% endblock %}



{% block body %}
<div class="jumbotron">
	<div class="container">
		<h1>Hello World!</h1>
		<p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	</div>
</div>

<div class="container" id="articles">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-md-4 {{ done ? 'done' : '' }}"
			v-repeat="articles"
			v-on="click: done = !done">
			<h2>{{ content }}</h2>
			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>
</div> <!-- /container -->	
{% endblock %}


{# 
   {% block footer %}{% endblock %}
#} 


{# 
   {% block footer_scripts %}{% endblock %}	
#} 
